.devcontainer/*
.github/*
.vscode/*
dist/*
helm/*
node_modules/*
.dockerignore
.gitignore
.prettierrc.json
config.default.json
config.json
config.default.env
config.env
docker-compose.yaml
Dockerfile
eslint.config.mjs
README.md
