html,
body {
	margin: 0;
	padding: 0;
	height: 100%;

	--bg-color: rgb(10, 10, 10);
	--fg-color: rgb(230, 230, 230);

	--overlay-bg-color: rgb(30, 30, 30, 0.7);
	--overlay-bg-color-hover: rgb(20, 20, 20, 0.9);
	--video-bg-color: rgb(0, 0, 0);

	--button-active-color: blue;

	--controls-bar-height: 1cm;
}
#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#content.embed {
	background: transparent !important;
}
