html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Arial", sans-serif;

	--bg-color: rgb(10, 10, 10);
	--fg-color: rgb(230, 230, 230);

	--overlay-bg-color: rgb(30, 30, 30, 0.7);
	--overlay-bg-color-hover: rgb(20, 20, 20, 0.9);
	--video-bg-color: rgb(0, 0, 0);

	--button-active-color: blue;

	--popup-filter: blur(5px);

	--border-radius: 5px;

	--transition-speed: 0.1s;
	--transition-function: ease-in-out;

	--controls-bar-height: 1cm;
}
#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.popupWrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 100svw;
	max-height: 100svh;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.aligner {
	pointer-events: none;
	flex-grow: 0;
	flex-shrink: 1;
}

.popupWrapperInner {
	display: flex;
	pointer-events: none;
}

.popup {
	pointer-events: initial;
	background: var(--bg-control-color);
	color: var(--fg-color);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: larger;
	padding: 7px;
}

#popup-templates {
	display: none;
}

.playerControlsMenu {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 10px;
}
