{{ if eq (include "private-stream-ui.generateSecretDb" .) "true" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "private-stream-ui.secretNameDb" . }}
  labels:
    {{- include "private-stream-ui.labels" . | nindent 4 }}
data:
  {{ .Values.databaseConfig.auth.usernameKey }}: {{ .Values.databaseConfig.auth.username | b64enc}}
  {{ .Values.databaseConfig.auth.passwordKey }}: {{ (include "private-stream-ui.remoteSecretDb" .) | default .Values.databaseConfig.auth.password | b64enc }}
{{- end }}
