{{ if eq (include "private-stream-ui.generateSecretOidcPrimary" .) "true" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "private-stream-ui.secretNameOidcPrimary" . }}
  labels:
    {{- include "private-stream-ui.labels" . | nindent 4 }}
data:
  {{ .Values.oidc.secretKey }}: {{ printf "{\"auth\":%s}" (toJson .Values.oidc.config) | b64enc }}
{{- end }}
---
{{ if eq (include "private-stream-ui.generateSecretOidc" .) "true" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "private-stream-ui.secretNameOidc" . }}
  labels:
    {{- include "private-stream-ui.labels" . | nindent 4 }}
data:
  {{ .Values.oidc.localSecret.secretGeneratedKey }}: {{ (include "private-stream-ui.remoteSecretOidc" .) | default (.Values.oidc.localSecret.value | b64enc) }}
{{- end }}
